/* Importing the Roboto font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* Global styles for all elements */
* {
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
  box-sizing: border-box; /* Ensures padding and border do not increase element size */
  font-family: "Roboto", sans-serif; /* Sets the font to Roboto */
}

/* Removes the default outline when an input is focused */
input:focus-visible {
  outline: 0;
}

/* Styling for the main container */
.main {
  background: linear-gradient(
    135deg,
    #699a3e,
    #2c97bb,
    #a0511f
  ); /* Gradient background */
  min-height: 100vh; /* Full height of the viewport */
  display: flex; /* Uses flexbox for centering */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
}

/* Styling for the password generator box */
.box {
  min-width: 400px; /* Minimum width of the box */
  padding: 10px; /* Padding inside the box */
  box-shadow: 0 4px 10px rgb(0 0 0 / 50%); /* Adds shadow effect */
  background: #2980b9; /* Background color */
  border-radius: 10px; /* Rounded corners */
  margin-top: 10px; /* Adds top margin */
  margin: auto; /* Centers the box horizontally */
}

/* Styling for the password display box */
#pass-box {
  width: 100%; /* Full width */
  display: block; /* Makes it a block element */
  background-color: white; /* White background */
  font-size: 20px; /* Text size */
  padding: 10px; /* Padding inside the box */
  border-radius: 4px; /* Rounded corners */
  font-weight: bold; /* Makes text bold */
}

/* Styling for each row */
.row {
  width: 100%; /* Full width */
  display: flex; /* Uses flexbox */
  margin-top: 10px; /* Adds spacing between rows */
  justify-content: space-between; /* Spaces out elements */
  color: white; /* White text */
  font-size: 20px; /* Text size */
}

/* Prevents text selection for labels */
label {
  user-select: none;
}

/* Styling for checkboxes */
.check {
  cursor: pointer; /* Changes cursor to pointer */
}

/* Styling for the generate button */
#btn {
  width: 100%; /* Full width */
  font-size: 20px; /* Text size */
  outline: 0; /* Removes outline */
  border: 0; /* Removes border */
  padding: 10px; /* Padding inside the button */
  background-color: #34495e; /* Button color */
  color: white; /* White text */
  margin-top: 10px; /* Adds spacing above the button */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Changes cursor to pointer */
}

/* Styling for the copy icon */
#copy {
  color: white; /* White icon */
  display: block; /* Ensures it's a block element */
  position: relative; /* Allows positioning */
  left: 350px; /* Moves it to the right */
  bottom: 33px; /* Moves it upwards */
  cursor: pointer; /* Changes cursor to pointer */
}
